<div class="modal-backdrop"></div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <p class="modal-title">Remove element?</p>
      </div>

      <div class="modal-footer">
        <button type="button" ng-click="vm.close('No')" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="vm.close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>

    </div>
  </div>
</div>